langchain_openai 
langchain_core
pyodbc
python-dotenv
streamlit
langchain_community
pypdf
groq
langchain-groq
langchainhub
PyPDF2
langchain-groq
pinecone
ijson
uvicorn
fastapi
langchain-pinecone
streamlit-chat
langchain